[submodule "RailFenceCipher"]
	path = RailFenceCipher
	url = https://github.com/lil-mixail/RailFenceCipher.git
[submodule "AES"]
	path = AES
	url = https://github.com/lil-mixail/AES-Encrypt-Tool.git
[submodule "RSA"]
	path = RSA
	url = https://github.com/lil-mixail/RSA-Sign-Tool.git
